body {
    background: #e1eec3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f05053, #e1eec3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f05053, #e1eec3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    text-align: center;
}

*{
    padding: 0;
    margin: 0;
}

.notesHeader, .notesBody, .notesFooter {
    background-color: rgba(0,0,0,.5);
    padding: 20;
    margin: 0 auto;
}

.notesHeader {
    font-family: sans-serif;
}

.notesBody {
    margin-top: 20px;
}

.notesFooter {
    bottom: 0;
    position: fixed;
    left: 0;
    width: 100%;
}

.navbar {
    background-color: black;
    text-decoration: none;
    font-size: 0.8em;
}

.navbar-brand {
    text-decoration: none;
    color: #FFF;
    padding: 0.5em;
    text-align: left;
}