body {
    background-color: #474646;
    text-align: center;
}

*{
    padding: 0;
    margin: 0;
}
.Note{
    width: 40%;
    margin-left: 30%;
}
.poleras{
    margin-top: 10vh;
}
.notesHeader, .notesBody, .notesFooter {
    padding: 20;
    margin: 0 auto;
}

.notesHeader {
    font-family: sans-serif;
    background-color: #000;
    width: 40%;
    padding:0.01%;
}

.notesBody {
    margin-top: 20px;
}

.notesFooter {
    bottom: 0;
    
    left: 0;
    width: 100%;
}

.navbar {
    background-color: black;
    text-decoration: none;
    font-size: 0.8em;
}

.navbar-brand {
    text-decoration: none;
    color: #FFF;
    padding: 0.5em;
    text-align: left;
}
.navbar,  .navbar-inverse{
    margin-bottom: 0px;
}