body {
    background-color: #000;
    text-align: center;
}

*{
    padding: 0;
    margin: 0;
}
.Note{
    width: 40%;
    margin-left: 30%;
}
.poleras{
    margin-top: 5vh;
}
.notesHeader, .notesBody, .notesFooter {
    background-color: rgba(0,0,0,.5);
    padding: 20;
    margin: 0 auto;
}

.notesHeader {
    font-family: sans-serif;
}

.notesBody {
    margin-top: 20px;
}

.notesFooter {
    bottom: 0;
    position: ;
    left: 0;
    width: 100%;
}

.navbar {
    background-color: black;
    text-decoration: none;
    font-size: 0.8em;
}

.navbar-brand {
    text-decoration: none;
    color: #FFF;
    padding: 0.5em;
    text-align: left;
}